mongoDBShalev.env
mongoDBSasha.env
mongoDBRon.env
Backend/.env
Backend/node_modules
Frontend/instagram-project/logs
Frontend/instagram-project/*.log
Frontend/instagram-project/npm-debug.log*
Frontend/instagram-project/yarn-debug.log*
Frontend/instagram-project/yarn-error.log*
Frontend/instagram-project/pnpm-debug.log*
Frontend/instagram-project/lerna-debug.log*
Frontend/instagram-project/node_modules
Frontend/instagram-project/dist
Frontend/instagram-project/dist-ssr
Frontend/instagram-project/*.local
Frontend/instagram-project/.vscode/*
Frontend/instagram-project/!.vscode/extensions.json
Frontend/instagram-project/.idea
Frontend/instagram-project/.DS_Store
Frontend/instagram-project/*.suo
Frontend/instagram-project/*.ntvs*
Frontend/instagram-project/*.njsproj
Frontend/instagram-project/*.sln
Frontend/instagram-project/*.sw?
