# repository secrets
HOSTED_ZONE_ID="secret"
CERTIFICATE_ARN="secret"
# repository variables
AWS_REGION="secret"
# environment secrets
DOMAIN_NAME="secret"
MONGODB_URI="secret"
ENCRYPTION_KEY="secret"
SECRET_KEY="secret"
# environment variables